[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/whereami"]
	path = thirdparty/whereami
	url = https://github.com/gpakosz/whereami.git
